{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block title  %}	
	Car Detail
{% endblock title %}

{% block content %}
	<div class="card m-3" style="max-width: 540px;">
		<div class="row no-gutters">
		{% if car.img %}
			<div class="col-md-4">
				<img src="{{car.img.url}}" class="card-img" alt="...">
			</div>
		{% endif %}
		<div class="col-md-8">
			<div class="card-body">
			<h5 class="card-title">{{car.model}}</h5>
			<p class="card-text">{{car.make}}.</p>
			<p class="card-text"><small class="text-muted">{{car.year}}</small></p>
			<p><a href="{% url 'car-update' car.id %}" class="btn btn-outline-primary btn-block">Update</a></p>
			<p><a href="{% url 'car-delete' car.id %}" class="btn btn-outline-primary btn-block">Delete</a></p>
			</div>
		</div>
		</div>
	</div>

{% endblock content %}

