{% extends "base.html" %}

{% block title  %}
	Car List
{% endblock title %}

{% block content %}

<div class="row m-4">
	{% for car in cars %}
    <div class="col col-md-4">
		<div class="card">
			{% if car.img %}
				<img src="{{car.img.url}}" class="card-img-top" alt="...">
				{% endif %}
				<div class="card-body">
					<h5 class="card-title">{{car.make}} - {{car.model}}</h5>
					<p class="card-text"><small class="text-muted">{{car.year}}</small></p>
					<a href="{{car.get_absolute_url}}" class="btn btn-primary">Go</a>
				</div>
		</div>
	</div>
	{% endfor %}
</div>			
{% endblock content %}


